section.announcements
	.announcement-container
		h3.title Pitch practice
		.time 2 mins ago
		.text Mentors will be in 304 to listen to your pitches and provide feedback so you can do your best to prepare for the judges. 
	.announcement-container
		.post-divider
		h3.title Dinner is served
		.time 10 mins ago
		.text Fried chicken and biscuits are available in Levine starting now. Food will only be served for 45 minutes so come soon!

section.twitter
	.tabs: ul
		li.hashtag.selected #PilotDC
		li.twitter @GrabTheYoke
	.twitter-content