section.tab-section.schedule(ng-class="{shown: (tab == 'schedule')}")
	.side-container
		.time-text Current time: {{ currTime }}

	.items-container
		.button-container
			button(ng-if="user.type == 'organizer'" ng-click="newItem()") New Item
		.schedule-item(ng-repeat="s in schedule track by $index | orderBy:'time':true" ng-class="{current: s.isCurrent}" data-index="{{s.index}}")
			.time {{ s.time.format('h:mm') }}
			.info
				.title {{ s.title }}
				.location {{ s.location }}