section.tab-section.team(ng-if="user.type == 'student'" ng-class="{shown: (tab == 'team')}")
	h3.team-size You can invite up to 4 people to your team.
	.team-container
		span(ng-repeat="teammate in team track by $index")
			.teammate-card(ng-click="openModal($index)" ng-class="{empty:(!teammate), 'icon pe-7s-plus':($index == teamCount)}" data-index="{{$index}}")
				img.profile(ng-src="{{teammate.image}}")
				.name {{teammate.name}}
				.email {{teammate.email}}
				.icon.pe-7s-close(ng-click="removeTeammate($index)")

	.modal.add-teammate(ng-class="{shown: invite.modalShown}")
		.close-button.pe-7s-close(ng-click="invite.modalShown = false")
		p.error-text(ng-bind="errorText")
		form(ng-submit="invite()")
			.input-group
				input(type="text" id="email" ng-keypress="checkEmail()" ng-model='invite.email' placeholder="john.appleseed@example.com")
				label(for="email" ng-class="{error: errorText}")
					span Enter your teammate's email
			button(type="submit") Invite Teammate

	.modal-cover(ng-class="{shown: invite.modalShown}" ng-click="invite.modalShown = false")

