.event-cover
	display block
	position relative
	background-size cover
	background-position-y 60%
	height: $sizes.event-cover-height
	width: 100%
	.tab-navigation
		position absolute
		height: $sizes.event-nav-height
		width auto
		bottom 0
		left 0
		background: $colors.slate
		&.right
			left auto
			right 0
		ul
			list-style none
			li
				display inline-block
				background: $colors.slate
				position relative
				box-sizing:border-box;
				-moz-box-sizing:border-box;
				-webkit-box-sizing:border-box;
				vertical-align top
				height: $sizes.event-nav-height
				text-transform uppercase
				font-size 14px
				font-weight 200
				line-height: $sizes.event-nav-height
				color white
				padding 0px 25px
				border-top: 3px solid $colors.slate
				a
					display block
					width auto
					height 100%
					text-align center
					cursor pointer
					color white
				&:hover, &.selected
					background: linear-gradient(to top, #E2E5E6, #FAFCFD)
					border-color: $colors.blue
					a
						color: $colors.blue
				&.selected:after
					top 100%
					left 50%
					border solid transparent
					content " "
					height 0
					width 0
					position absolute
					pointer-events none
					border-color rgba(226, 229, 230, 0)
					border-top-color #E2E5E6
					border-width 15px
					margin-left -15px
.tab-section
	display none
	&.shown
		display block	

.container > section.announcements
	padding-top 25px
	.button-container
		overflow hidden
		width: $sizes.inner-width
		button
			width 220px
			height 50px
			float right
			display block
			padding-top 10px
			margin-bottom 10px
	.announcement-block
		display inline-block
		height auto
		width: $sizes.inner-width
		background white
		.announcement-container
			padding-bottom 10px
			position relative
			.title
				display inline-block
				font-size 50px
				color: $colors.blue
				margin 25px
				margin-bottom 0
			.time
				display inline-block
				font-size 20px
				text-transfrom uppercase
				color: lighten($colors.slate, 50%)
			.text
				margin 25px
				font-size 20px
				line-height 25px
			.image
				margin 25px
				margin-top 0
				max-width: 600px
				max-height: 600px
			.icon
				font-size 30px
				position absolute
				top 40px
				color: lighten($colors.slate, 50%)
				transition all 0.3s
				opacity 0
				cursor pointer
				&.edit
					right 70px
					&:hover
						color: $colors.blue
				&.delete
					right 40px
					&:hover
						color: $colors.red
			&:hover .icon
				opacity 1
				
		.post-divider
			width 135px
			border-bottom: 2px solid $colors.gray
		.repeat-announcement:last-of-type
			.post-divider
				display none

	.confirm-delete
		width 600px
		text-align center
		.confirm
			width 100%
			text-align center
			font-size 20px
			margin 15px
			margin-top 25px
		button:hover
			background: $colors.red
			border-color: $colors.red

	.edit-post
		width 600px
		form
			width 500px
			display block
			margin auto
			position relative
			.input-group
				max-width 500px
				margin-bottom 10px
			button
				height 60px
				width 300px
				position relative

	.twitter
		vertical-align top
		display inline-block
		margin-left 40px
		width 360px
		.hashtag
			display inline-block
			width 50%
			font-size 18px
			text-transform uppercase
			padding 15px 0px
			text-align center
			cursor pointer
			background: white
			color: $colors.slate
		.twitter-content
			display block
			width 100%
			height 300px
			background white
			overflow-y scroll
			padding 0px 12px 
			.tweet-container
				padding 15px
				font-size 15px
				border-top: 1px solid $colors.gray
				.tweet-link
					display block
					text-decoration none
					color: $colors.slate
				&:first-of-type
					border-top none
				.handle
					display inline
					font-weight 400
					margin-right 6px
				.tweet
					display inline
				.time
					margin-left 6px
					display inline
					font-size 12px
					text-transfrom uppercase
					color: lighten($colors.slate, 50%)
				
.container > section.mentors
	min-height 400px
	padding 25px
	width: $sizes.inner-width
	margin-top 25px
	background white
	p 
		font-size 20px
	.input-group
		margin 25px 0px
		max-width 70%
	button
		width 400px
		height 70px
	.error-text
		margin-top 25px

.container > section.team
	.team-size
		width 100%
		text-align center
		font-size 30px
		margin-top 25px
		margin-bottom 15px
	.team-container
		display block
		margin auto
		overflow hidden
		text-align center
	.teammate-card
		position relative
		width 250px
		height 280px
		vertical-align top
		display inline-block
		background white
		margin 15px
		&:hover .icon
			opacity 1
		img.profile
			width 150px
			height 150px
			margin 30px 40px
			margin-bottom 15px
			border-radius 75px
		.name
			width 100%
			text-align center
			font-size 25px
			transition color 0.3s
			margin-bottom 15px
		.email
			width 100%
			text-align center
			font-size 15px
			color: lighten($colors.slate, 30%)
		.icon
			position absolute
			top 0
			right 0
			font-size 50px
			margin-top -5px
			margin-right 10px
			transition all 0.3s
			opacity 0
			cursor pointer
			&:hover
				color: $colors.blue
		&.empty
			background none
			border: 4px dashed lighten($colors.slate, 50%)
			transition border 0.5s
			cursor default
			img.profile, .name, .icon
				display none
			font-size 200px
			&.icon
				cursor pointer
				&:before
					content '+'
				&:hover
					border-color: $colors.blue
					&:before
						color: $colors.blue
			&:before
				width 100%
				height 100%
				color: lighten($colors.slate, 50%)
				font-size 160px
				font-weight 200
				transition color 0.5s
				cursor pointer
				vertical-align top
				position relative
				top 28px		
	.add-teammate
		form
			width auto
			display block
			margin auto
			text-align center
			position relative
			.input-group
				display inline-block
			button
				display inline-block
				margin-left 25px
				height 60px
				width 200px
				position relative
				margin-top 15px
		.error-text
			width 100%
			text-align center
			margin-bottom none

.container > section.attendees
	.table-container
		display block
		width 95%
		height 100%
		background white
		padding 0px 40px
		margin 25px auto
	.toggle
		margin-top 25px
	.input-group.filter
		float right
	table
		display block
		width 100%
		min-width 400px
		max-height 700px
		margin 25px 0px
		overflow-y scroll
		overflow-x scroll
		position relative
		th, td
			padding 10px 10px
			white-space nowrap
		th
			background: $colors.blue
			color white
			padding 18px 10px
			cursor pointer
			user-select none
			i.icon
				display none
				font-size 25px
				margin-left 5px
				vertical-align middle
			&.selected
				background: darken($colors.blue, 40%)
				i.icon
					display inline-block
		tbody
			tr
				transition background 0.2s
				cursor pointer
				td
					font-weight 200
			tr:nth-child(even)
				background: $colors.gray
			tr:nth-child(odd)
				background: lighten($colors.gray, 40%)
			tr:hover
				background: lighten($colors.blue, 60%)
	.edit-attendee
		h3
			font-size 40px
			margin-bottom 10px
		.form-container
			background none
			width auto
		.input-group
			display block		

section.settings
	min-height 400px
	padding 25px
	width: $sizes.inner-width
	margin-top 25px
	background white
	h3
		font-size 40px
	.input-group
		margin 25px 0px
		max-width 70%
	button
		width 400px
		height 70px
