$colors = {
    blue: #54A2D6
    slate: #252A2B
    gray: #D1D4D6
    light-gray: #E5E5E5
}
$sizes = {
	header-height: 125px
	event-height: 250px
	event-width: 1000px
	event-cover-height: 280px
	event-nav-height: 50px
	announcements-width: 800px
}
$fonts = {
	sans: "DIN"
	serif: "Clarendon"
	light: 200
	normal: 400
}
$maxwidth = 1400px