$colors = {
    blue: #54A2D6
    slate: #252A2B
    light-gray: #E5E5E5
    gray: #D1D4D6
}
$sizes = {
	header-height: 125px
	event-height: 250px
	event-width: 1000px
}
$fonts = {
	sans: "DIN"
	serif: "Clarendon"
	light: 200
	normal: 400
}
$maxwidth = 1400px