.header
    position absolute
    top 0
    left 0
    width 100%
    h1
        background-color: $colors.slate
        width: 80px
        background-image: url('/img/logo.svg')
        background-size: contain
        background-repeat: no-repeat
        background-position: bottom center
        height: 100px
        margin-left 10px
        absolute top 0 left 0
        text-indent: 100%
        overflow hidden

    nav
        padding-left 90px
        background-image: linear-gradient(top, rgba(black, .4), rgba(black, 0))
        width 100%
        li
            display inline-block
        a
            color: white
            padding: 10px 20px 30px 20px
            display: block
            text-transform: lowercase

            &:hover
                background-image: linear-gradient(top, rgba(black, .2), rgba(black, 0))

            
