@import nib

global-reset()
@import _settings
@import _auth
@import _header


*
  box-sizing: border-box

body
  font-family: Arial, Sans-Serif

a
    text-decoration: none

.main
    margin-top: 100px
