@import nib

global-reset()
@import _font
@import _settings
@import _auth
@import _header


*
  box-sizing: border-box

body
  font-family: 'DIN', Arial, Sans-Serif

a
    text-decoration: none

.main
    margin-top: 125px

.portal-main
	background: $colors.gray
	min-height 100vh

.container
	max-width $maxwidth
	height 100%