@import nib

global-reset()
@import _font
@import _settings

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased;
  
body
  font-family 'DIN', Arial, Sans-Serif
  font-weight 200
  background: $colors.gray

a
	text-decoration: none

.modal-cover
	display block
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background: $colors.slate
	z-index 101
	opacity 0
	pointer-events none
	transition opacity 0.5s
	&.shown
		pointer-events auto
		cursor pointer
		opacity 0.75

.modal
	display block
	position fixed
	bottom 150%
	right 50%
	transform translate(50%, 50%)
	background white
	padding 25px
	width: $sizes.inner-width
	height auto
	z-index 102
	pointer-events none
	transition bottom 0.5s
	&.shown
		pointer-events auto
		bottom 50%
	.close-button
		display block
		position absolute
		width 25px
		height 100px
		background white
		right 25px
		top 5px
		font-size 50px
		transition color 0.3s
		cursor pointer
		&:hover
			color: $colors.blue

.portal-main
	min-height 100vh
	position relative
	top 0
	padding-bottom 25px

.container
	max-width $maxwidth
	height 100%
	position relative
		
.input-group
	position static
	z-index 1
	display block
	max-width 450px
	min-height 80px
	vertical-align top
	font-size 20px
	
	.divider
		width 100%
		display block
		position relative
		height 100px
		overflow hidden
		

	input, textarea
		position relative
		display block
		float right
		padding 0.75em 0.1em 0.25em
		width 100%
		border none
		background: white
		color: $colors.slate
		-webkit-appearance none
		z-index 10
		background: transparent
		font-size 20px
		font-family 'DIN'
		font-weight 200
		resize none
		&:focus
			outline: none
			& + label
				pointer-events none
				&::before
					background-color: $colors.blue
					transform scale3d(1, 1, 1)
				span
					color: $colors.blue
					font-weight 400

	.custom-select
		display inline-block
		vertical-align middle
		position relative
		text-align left
		background #fff
		z-index 100
		width 100%
		max-width 500px
		-webkit-touch-callout none
		user-select none
		&:focus
		  outline none
		&.cs-active
			z-index 200
		select
			display none
		& > span
			padding 0
			padding-right 3em
			&::after
				content '\25BE'
				right 1em
		span
			display block
			position relative
			cursor pointer
			padding 1em
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			&.cs-placeholder
				padding 0.75em 0.1em 0.25em
				
		li
			transition all 0.3s	
			background white
			&.cs-focus span, &:hover
				background: $colors.blue
				color white

		li.cs-selected span::after
			content '\2713'
			margin-left 1em
			
		&.cs-active
			& > span::after
				transform translateY(-50%) rotate(180deg)
			.cs-options
				pointer-events auto
				opacity 1
		&.unpicked
			.cs-placeholder
				color: lighten($colors.slate, 50%)
				&:after
					color: $colors.slate
		.cs-options
			position absolute
			overflow hidden
			width 100%
			background #fff
			opacity 0
			margin-top 4px
			pointer-events none
			box-shadow: 0px 0px 5px lighten($colors.slate, 50%)
			transition opacity 0.3s
		ul
			list-style none
			margin 0
			padding 0
			width 100%
			span
				padding 1em
			li.cs-optgroup
				ul
					padding-left 1em
				& > span
					cursor default
			

		& > span::after, .cs-selected span::after
			speak none
			position absolute
			top 50%
			-webkit-transform translateY(-50%)
			transform translateY(-50%)
			-webkit-font-smoothing antialiased
			-moz-osx-font-smoothing grayscale


	label
		display inline-block
		position relative
		overflow hidden
		float right
		padding 0
		width 100%
		color: $colors.slate
		text-align left
		-webkit-touch-callout none
		user-select none
		&::before
			content ''
			position absolute
			top 0
			width 100%
			height 4px
			background: $colors.slate
			transform scale3d(1, 0.4, 1)
			transform-origin 50% 100%
			transition transform 0.3s, background-color 0.3s
			transition-timing-function cubic-bezier(0.2, 1, 0.3, 1)
		span
			position relative
			display block
			padding 0.5em 0.15em
			width 100%
			font-weight 400
			transition opacity 0.3s, transform 0.3s
			transition-timing-function cubic-bezier(0.2, 1, 0.3, 1)
		&.error
			span
				color: $colors.red
			&::before
				background: $colors.red

button
	box-sizing border-box
	outline none
	border none
	background none
	display inline-block
	position relative
	padding 0.75em
	font-size 20px
	font-family 'DIN'
	font-weight 400
	cursor pointer
	color: $colors.slate
	border: 2px solid $colors.slate	
	transition border 0.3s, color 0.3s, background 0.3s
	transition-timing-function cubic-bezier(0.2, 1, 0.3, 1)
	&:hover
		background: $colors.blue
		color: white
		border-color: $colors.blue

.toggle
	height 50px
	display inline-block
	.option
		box-sizing border-box
		outline none
		border none
		background none
		display inline-block
		position relative
		padding 0.75em
		font-size 20px
		font-family 'DIN'
		font-weight 400
		cursor pointer
		color: $colors.slate
		border-top: 2px solid $colors.slate	
		border-bottom: 2px solid $colors.slate	
		transition border 0.3s, color 0.3s, background 0.3s
		transition-timing-function cubic-bezier(0.2, 1, 0.3, 1)
		&:first-of-type
			border-left: 2px solid $colors.slate
		&:last-of-type
			border-right: 2px solid $colors.slate
		&:hover
			background: lighten($colors.blue, 50%)
			color: white
		&.selected
			background: $colors.blue
			color: white

.error-text
	color: $colors.red
	
@import _auth
@import _header
@import _dashboard
@import _event