doctype
html(ng-app='app')
    head
        link(rel='stylesheet', href='/font/icon-7/css/icons.css')
        link(rel='stylesheet', href='/css/master.css')    
        title Pilot 
    body(ng-cloak='')
        .main(ui-view='')

        script(src='/js/main.js')
        script.
            if(window.location.hash == '') window.location = '#/'
