.custom-select
	span.placeholder Select
	.options
		ul
			li(data-option data-value="1" class="cs-selected") Option 1
			li(data-option data-value="2") Option 2
			li(data-option data-value="3") Option 3
	select.custom-select
		option(value="" disabled selected) Select
		option(value="1") Option 1
		option(value="2") Option 2
		option(value="3") Option 3