.dashboard.container
	section.events.upcoming(ng-show="upcomingEvents.length > 0")
		.label
			span(ng-if="user.type != 'organizer'") Your
			|  Upcoming Events
		div(ng-repeat="event in upcomingEvents | orderBy:'date':false")
			a.event-background(ui-sref="portal.event({slug: event.slug})"  ui-sref-opts="{ reload: true }" ng-style="{'background-image':'url('+event.image+')'}")
				.event-labels
					.event-name {{event.name + " " + event.date.format('YYYY') }}
					.event-date {{event.date.format('MMMM D, YYYY')}}
				.background-darken

	section.events.past(ng-show="pastEvents.length > 0")
		.label
			span(ng-if="user.type != 'organizer'") Your
			|  Past Events
		div(ng-repeat="event in pastEvents | orderBy:'date':true")
			a.event-background(ui-sref="portal.event({slug: event.slug})"  ui-sref-opts="{ reload: true }" ng-style="{'background-image':'url('+event.image+')'}")
				.event-labels
					.event-name {{event.name + " " + event.date.format('YYYY') }}
					.event-date {{event.date.format('MMMM D, YYYY')}}
				.background-darken
	
	.modal.welcome(ng-class="{'shown': showModal}")
		h3 Welcome to the Pilot portal!
		p This is where you'll be able to view important details about your upcoming events. Be sure to write down your login and keep it in a safe place, because you'll need to log in here during the event.
		p For now, go ahead and take a look around - this is just a preview of all the fun you're going to have at {{event.name}}!
		button(ng-click="showModal = false") Great, let's go!



	.modal-cover(ng-class="{shown: showModal}" ng-click="showModal = false")

