section.events.upcoming
	.label Your Upcoming Events
	.event-background(ng-style="{'background-image':'url(https://gopilot.org/img/dc.jpg)'}")
		.event-labels
			.event-name Washington DC 2015
			.event-date June 19, 2015
		.background-darken
			
section.events.past
	.label Your Past Events
	.event-background(ng-style="{'background-image':'url(https://gopilot.org/img/philly.jpg)'}")
		.event-labels
			.event-name Philly 2015
			.event-date January 30, 2015
		.background-darken
	.event-background(ng-style="{'background-image':'url(https://gopilot.org/img/oxy.jpg)'}")
		.event-labels
			.event-name Oxy 2014
			.event-date June 17, 2014
		.background-darken