.dashboard.container
	section.events.upcoming(ng-show="upcomingEvents.length > 0")
		.label
			span(ng-if="user.type != 'organizer'") Your
			| Past Events
		div(ng-repeat="event in upcomingEvents | orderBy:'date':false")
			a.event-background(ui-sref="portal.event.announcements({slug: event.slug})"  ui-sref-opts="{ reload: true }" ng-style="{'background-image':'url('+event.image+')'}")
					.event-name {{event.name + " " + event.date.format('YYYY') }}
					.event-date {{event.date.format('MMMM D, YYYY')}}
				.background-darken

	section.events.past(ng-show="pastEvents.length > 0")
		.label
			span(ng-if="user.type != 'organizer'") Your
			| Past Events
		div(ng-repeat="event in pastEvents | orderBy:'date':true")
			a.event-background(ui-sref="portal.event.announcements({slug: event.slug})"  ui-sref-opts="{ reload: true }" ng-style="{'background-image':'url('+event.image+')'}")
				.event-labels
					.event-name {{event.name + " " + event.date.format('YYYY') }}
					.event-date {{event.date.format('MMMM D, YYYY')}}
				.background-darken
