.header
    a.h1(ui-sref="portal.dashboard" ui-sref-opts="{ reload: true }") Pilot   
    .page-title-container
        .page-title {{$$childHead.pageTitle}}
    .right
        .profile(ng-if='user.image' ng-style="{'background-image': 'url('+user.image+')'}")
        .text-container
            .greet Hello, 
                span.name {{user.name.split(' ')[0]}}
            .links
                a(ui-sref="portal.settings" ui-sref-opts="{ reload: true }") Settings
                |  | 
                a(ng-click='doLogout()', href='') Log out
    .header-middle(ng-show="$$childHead.fullHeader")
        .border-container
            div.next-event(ng-if="upcomingEvents.length > 0")
                .upcoming UPCOMING
                a.eventname(ui-sref="portal.event({slug: upcomingEvents[0].slug})" ui-sref-opts="{ reload: true }") {{upcomingEvents[0].city}}

.portal-main(ui-view='')
